.color-btn{
    height: 20px;
    width: 20px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;

}
#comment{
    height: 20px;
    width: 32px;
    border-radius: 1rem;
    background: url("../chatbox-ellipses-outline.svg");
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}
#trash{
    height: 20px;
    width: 30px;
    border-radius: 1rem;
    background: url("trash-outline.svg");
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    outline: none;

}

#contextmenu{
    position : absolute;
    /*border: solid 1px;*/
    background: lightseagreen;
    /*width: 13%;*/
    padding:0.3%;
    border-radius: 1rem;
    min-width: 10%;
}

#comment-container{
    display:none;
}

#cancel{
    display: none;
    float: left;
    margin: 1%;
    margin-left: 25%;
    background: #ca4444;
    border-radius:1rem ;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

#save{
    display : none;
    margin: 1%;
    border-radius: 1rem ;
    color: white;
    font-weight: bold;
    background: mediumseagreen;
    border: none;
    cursor: pointer;
}
#comment-area{
    height: 100px;
    width: 200px;
}

#menu{
    text-align: center;
}

#edit{
    display : none;
    height: 20px;
    width: 40px;
    margin : 1%;
    margin-left: 41%;
    background: url("../create-outline.svg");
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;

}